<div>編集ページ</div>

<%= form_with model: @post, local: true do |f| %>

  <p><%= f.label :content, "タイトル" %></p>
  <p><%= f.text_field :content %></p>

  <%= f.text_field :tag_ids,value: @tag_list,\
  placeholder: "タグをつける。複数つけるには','で区切ってください。" %>

  <%= f.submit '更新' %>

<% end %>
<div><%= link_to "戻る", root_path %></div>